# Python and main work
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/
*.db
*.sqlite
*.sqlite3
.DS_Store
.vscode/
.idea/
*.log
node_modules/
.env
.venv
backend/data/
ollama_data/
weaviate_data/
weaviate_binary/
app_data/
backend/data
phi3-mini-4k-instruct-cpu-int4-rtn-block-32-acc-level-4.onnx.data# SSH keys (persistent storage)

# SSH keys (persistent storage)
.ssh-keys/
