modules = ["python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BrandonBot Server"

[[workflows.workflow]]
name = "BrandonBot Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python3.11 -m uvicorn main:app --host 0.0.0.0 --port 5000 --timeout-keep-alive 300"
waitForPort = 5000

[nix]
channel = "stable-25_05"
packages = ["libxcrypt", "oneDNN", "openssh", "python312Packages.uvicorn", "re2", "xcodebuild", "zlib", "sqlite-interactive", "emacs"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6060
externalPort = 8000

[[ports]]
localPort = 46737
externalPort = 8080

[[ports]]
localPort = 46738
externalPort = 8081

[[ports]]
localPort = 46739
externalPort = 9000

[[ports]]
localPort = 46740
externalPort = 8099

[[ports]]
localPort = 50837
externalPort = 3001

[[ports]]
localPort = 50838
externalPort = 8008

[[ports]]
localPort = 51003
externalPort = 5000

[[ports]]
localPort = 51004
externalPort = 6000

[[ports]]
localPort = 51005
externalPort = 6800

[[ports]]
localPort = 51006
externalPort = 5173

[[ports]]
localPort = 60199
externalPort = 3000

[[ports]]
localPort = 60200
externalPort = 3003

[[ports]]
localPort = 60201
externalPort = 4200

[[ports]]
localPort = 60202
externalPort = 3002
